	<!DOCTYPE html>
	<html xmlns:th="https://www.thymeleaf.org"
				th:replace="~{fragments/layout :: layout (~{::body})}">
	  <head>
  	    <link rel="stylesheet" type="text/css" href="/css/main.css">
  	    <title>Star Ships Marathon</title>
  	  </head>
	  <body>
	    <h1 class = "blue-header">Star Ships</h1>

	    <div th:each="ship : ${ships}">
  	      <div th:object="${ship}">
  	        <h2 th:text="*{name}">Ship name</h2>
  	        <p th:text=" 'Fuel Capacity: ' + *{fuelCapacity}">Fuel Capacity</p>
  	        <a th:href="'/starships/' + *{id}">Learn more</a>
  	      </div>
  	    </div>
	    <a href="/starships/new">Add a New Star Ship!</a>
	  </body>
	</html>