<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
			th:replace="~{fragments/layout :: layout (~{::body})}">
<head>
  <meta charset="UTF-8">
  <title>Add a new star ship</title>
</head>
<body>
<!DOCTYPE html>

	<h1 class = "blue-header">Add a New Star Ship!</h1>

	<form action="#" th:action="@{/starships}" th:object="${starShip}" method="POST">
  	  <div>
  	    <label th:for="name">Name</label>
  	    <input type="text" th:field="*{name}" />
  	  </div>

  	  <div>
  	    <label th:for="description">Description</label>
  	    <input type="text" th:field="*{description}" />
  	  </div>

  	  <div>
  	    <label th:for="fuelCapacity">Fuel Capacity</label>
  	    <input type="number" th:field="*{fuelCapacity}" min="0" step="1"/>
  	  </div>

  	  <div>	    <input type="submit" value="Save the ship!" />
  	  </div>
  	</form>

</body>
</html>